{% extends 'meetings/base.html' %}
{% load static %}

{% block title %}
<title>Confirm Password Reset</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'accounts/css/auth.css' %}">
{% endblock %}

{% block content %}

<div class="main-content">
  <div class="auth-container">
    <h2>Set a New Password</h2>
    <form method="POST">
      {% csrf_token %}
      <label for="id_new_password1">New password:</label>
      <input type="password" name="new_password1" id="id_new_password1" class="your-css-class">

      <label for="id_new_password2">Confirm password:</label>
      <input type="password" name="new_password2" id="id_new_password2" class="your-css-class">
      <button type="submit">Change Password</button>
    </form>
  </div>
</div>
{% endblock %}