{% extends 'meetings/base.html' %}
{% load static %}

{% block title %}
<title>Reset Password Complete</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'accounts/css/auth.css' %}">
{% endblock %}


{% block content %}
<div class="main-content">
  <div class="auth-container">
    <h2>Password Changed</h2>
    <p>Your password has been successfully reset. You can now log in.</p>
    <a href="{% url 'accounts:login_page' %}">Go to Login</a>
  </div>
</div>

{% endblock %}
