{% extends 'meetings/base.html' %}
{% load static %}

{% block title %}
<title>Password Reset Link Sent</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'accounts/css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="main-content">
  <div class="auth-container">
    <h2>Email Sent</h2>
    <p>If your email is in our system, we've sent you a link to reset your password. (Check in spam folder also)</p>
    <a href="{% url 'accounts:login_page' %}">Back to Login</a>
  </div>
</div>
{% endblock %}